@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

:root {
  --primary-color: #1f2f61;
  --secondary-color: #224ca4;
  --light-color: #a7c2da;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-family: "DotGothic16", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  margin: 20px 0 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

